.custom-input {
  border: none;
  border-bottom: 1px solid #ced4da; /* Szürke alsó border alapértelmezett állapotban */
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.custom-input:focus {
  border-bottom: 2px solid blue; /* Kék alsó border fókuszáláskor */
}
